 #container{
  background-color: rgb(230, 242, 255);
  margin-top:100px;
  margin-left: 300px;
  margin-right: 300px;
  padding: 80px 150px 10px 80px;
  font-family: 'Lato', sans-serif;
 }
   
 .gridcontainer{
  display: grid;
  font-size: 25px;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
  grid-row-gap: 50px;
 }
 
 #totheright{
  text-align: right;
 }

 h1{
  font-size:60px;
  font-weight: bold;
  text-align: center;
 }
 
 p1{
 font-size: 25px;
 }
 
 p2{
 margin-left: 50px;
 font-size: 23px;
 }

 h2{
  font-size: 38px;
  font-weight: bold;
  margin-top: 60px;
 }
 
 h3{
  font-size: 29px;
  font-weight: bold;
  margin-left:50px;
 }
 
 ul{
 margin-left: 50px;
 }
 
 #ul{
  font-size: 25px;
  margin-left: 10px;
 }
 
 a{
  color: black;
  text-decoration: none;
  margin-left: 50px;
  font-size: 25px;
 }
 
 a:hover{
  color: blue;
  text-decoration: underline;
}
  
 @media (max-width: 1500px){
  
  h1{
   font-size: 30px;
  }
  h2{
   font-size: 19px;
  }
  h3{
   font-size: 14px;
  }
  
  p, p1, p2, a,.gridcontainer, #ul{
   font-size: 12px;
   }
  
  a{
   font-size: 12px; 
  }
 }
